.peoples {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 400px;
}

.peoples__item {
  width: 50px;
  flex-grow: 1;
}

.peoples__item--active {
  flex-grow: 2;
}

.peoples__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
