.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item:not(:last-of-type) {
  margin-right: 30px;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  color: firebrick;
}

.navigation__link:active {
  opacity: 0.4;
}
